<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @wod.description %>
</p>

<p>
  <strong>Result label:</strong>
  <%= @wod.result_label %>
</p>

<p>
  <strong>Workout:</strong>
  <%= @wod.workout %>
</p>

